build/*
.vscode/c_cpp_properties.json
.vscode/tasks.json
output/LastRun.txt
output/errors/Example101/*
output/errors/Example201/*
output/errors/Example202/*
output/errors/Example301/*
output/errors/Example10/*
output/errors/Example20/*
output/errors/Example21/*
output/errors/Example23/*
output/errors/Example-1/*
output/solution/*
output/ref_solution/*
output/matrices/*
tools/output
.venv

nlmaves/build
output/errors/Example22

tools/python_chebyshev/output
tools/python_chebyshev/__pycache__
output/errors/Example13/*
tools/python_chebyshev/plots/*
tools/python_chebyshev/__pycache__/*
